# requirements.txt
#
# https://stackoverflow.com/questions/43658870/requirements-txt-vs-setup-py
#
# installs dependencies from ./setup.py, and the package itself,
# in editable mode
# -e .
flask_restful
flask
click
pg8000
git+https://'janripke':'%23Deurknop1%23'@github.com/oxymabv/paprika-connector.git@1.0.3#egg=paprika_connector
git+https://'cbsp-abnamro':'zauno5kfrkvnvlgvitdeuczwgezruqjzqur2twbxql77deesgobq'@cbsp-abnamro.visualstudio.com/ClientAnalytics/_git/bean#egg=bean
